*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 20px;
	padding-bottom: 1em;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .2em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	cursor: pointer;
	width: 20%;

}

.adicionar-paciente{
    margin-top: 30px;
}

.paciente-invalido{
	background-color: lightcoral;
}

#mensagens-erro{
	color: red;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

.alert{
	margin: 20px;
	display: none;
}
.teste{
	width: 100%;
	height: 70px;
}

.invisivel{
	display: none;
	font-size: 20px;
	max-width: 300px;
	margin: 10px;
	padding: 5px;
}