h1{
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
}

.form-pesquisa{
    margin-left: 120px;
}

.form-agenda{
    position: relative;
    max-width: 600px;
}

#menu{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0%;
    z-index: 1;
}

.menu-icon{
    color: white;
    font-size: 20px;
}

.menu{
    font-size: 22px;
}

span{
    margin-right: 10px;
}

#link{
    font: bolder;
    color: white;
    margin: 13px;
    width: 125px;
    float: right;
}

#voltarPagina{
    margin-top: 10px;
    width: 120px;
    margin-left: 89%;
}

.car_myDiv{
    padding: 30px;
}

.car_myDiv1{
    padding: 20px;
}

.car_myDiv2{
    padding: 20px;
    background-color: #ede9e8;
}

td {
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #efeeee;
    table-layout: fixed;
    height: 25px;
    transition: height 0.4s;
    /*propriedade desejada*/
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

.form-tela-inicial{
    max-width: 1100px;
    margin-left: 100px;
    padding: 20px;
}

.div-pesquisa{
    text-align: center;
    width: 50px;
    height: 20px;
    margin-top: 12px;
}

.icone-pesquisa{
    width: 35px;
    height: 25px;
}
