<div id="menu">
  <nav class="navbar navbar-expand-lg">
    <div class="btn-group">
      <button class="btn dropdown-toggle btn-menu" type="button" id="defaultDropdown"
        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><span class="menu-icon">
          <ion-icon name="list"></ion-icon>
        </span>
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
        <li><a class="dropdown-item" href="/form-pacient" onclick="carregarSpinners()";>Pacientes</a></li>
        <li><a class="dropdown-item" href="/form-agenda" onclick="carregarSpinners();">Agendamento</a></li>
        <li><a class="dropdown-item" href="/form-usuario" onclick="carregarSpinners();">Usuários</a></li>
        <li><a class="dropdown-item" href="/form-pagamentos" onclick="carregarSpinners();">Pagamentos</a></li>
        <li><a class="dropdown-item" href="/form-prontuario" onclick="carregarSpinners();">Prontuário</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
      </ul>
    </div>
    <a href="/login-page" class="sair" onclick="carregarSpinners()">Sair</a>
  </nav>
</div>
