<div id="menu">
  <nav class="navbar navbar-expand-lg">
    <div class="btn-group">
      <button class="btn dropdown-toggle btn-menu" type="button" id="defaultDropdown"
        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><span class="menu-icon">
          <ion-icon name="list"></ion-icon>
        </span>
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
        <li value="1"><a class="dropdown-item" href="/form-pacient">Pacientes</a></li>
        <li><a class="dropdown-item" href="/form-agenda">Agendamento</a></li>
        <li><a class="dropdown-item" href="#">Usuários</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
      </ul>
    </div>
    <a href="/login-page" class="sair" onclick="carregarSpinners()">Sair</a>
  </nav>
</div>
