<h1>Preencha os campos abaixo</h1>
<main>
    <div class="container">
        <section class="container">
            <button class="btn btn-primary" id="voltarPagina" data-bs-toggle="modal" data-bs-target="#modalPaciente"><span>
                    <ion-icon name="arrow-undo"></ion-icon>
                </span> Cancelar</button>
            <hr>
            <form class="row g-3" action="/form-pacient/cad/novo" method="POST">
                <div class="col-md-7">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" name="nome" required>
                </div>
                <div class="col-md-3">
                    <label for="cpf" class="form-label">CPF:</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" maxlength="14" placeholder="000.000.000-00" onkeypress="formataCPF(this)" required>
                </div>
                <div class="col-md-3">
                    <label for="data" class="form-label">Data nascimento:</label>
                    <input type="date" class="form-control" name="data_nascimento" id="data" required>
                </div>
                <div class="col-md-2">
                    <label for="idade" class="form-label">Idade:</label>
                    <input type="text" class="form-control" name="idade" id="idade" readonly>
                </div>
                <div class="col-3">
                    <label for="cidade" class="form-label">Cidade:</label>
                    <input type="text" class="form-control" name="cidade">
                </div>
                <div class="col-md-7">
                    <label for="endereco" class="form-label">Endereço:</label>
                    <input type="text" class="form-control" name="endereco" required>
                </div>
                <div class="col-md-2">
                    <label for="numero" class="form-label">N°:</label>
                    <input type="text" class="form-control" name="numero">
                </div>
                <div class="col-2">
                    <label for="estado" class="form-label">Estado:</label>
                    <input type="text" class="form-control" name="estado">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" name="email" placeholder="example@example.com"  onkeypress="validateEmail(this)" onblur="validateEmail(this)">
                </div>
                <div class="col-md-4">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="text" class="form-control" name="telefone" placeholder="(47) 99999-9999" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);">
                </div>
                <div class="col-md-4">
                    <label for="estado_civil" class="form-label">Estado Cívil:</label>
                    <input type="text" class="form-control" name="estado_civil">
                </div>
                <div class="col-md-3">
                    <label for="altura" class="form-label">Altura:</label>
                    <input type="text" class="form-control" name="altura" required>
                </div>
                <div class="col-md-3">
                    <label for="peso" class="form-label">Peso:</label>
                    <input type="text" class="form-control" name="peso" required>
                </div>
                <div class="col-md-2">
                    <label for="imc" class="form-label">IMC:</label>
                    <input type="text" class="form-control" name="imc" readonly>
                </div>
                <br>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" id="link" onclick="carregarSpinners()"><span>
                            <ion-icon name="person-add"></ion-icon>
                        </span> Cadastrar</button>
                </div>
            </form>
        </section>
    </div>
</main>

<div class="text-center" id="text-center">
    <div class="spinner-border" role="status" id="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="modal fade" id="modalPaciente" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atenção!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se você sair todas as suas alterações não vão ser salvas!</p>
      </div>
      <div class="modal-footer">
        <a href="/form-pacient"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="carregarSpinners()">Sair</button></a>
        <a href="/form-pacient/cad-paciente"><button type="submit" class="btn btn-primary">Continuar</button></a>
      </div>
    </div>
  </div>
</div>
