<body class="loading">
  <div class="erro-pai">
    <div class="erro-paci">
      <h1 class="erro-h1">Não foi possível trazer os dados!</h1>
      <div class="erro-paci-1">
        <div class="erro-paci-2">
          <h2 class="erro-h2">ocorreu algum erro inesperado <b>:(</b></h2>
          <br />
        </div>
        <h3 class="erro-h3">Favor falar com seu departamento de <b>TI</b>, ou tente novamente.</h3>
      </div>
      <a href="/form-pacient" class="botao-erro" onclick="carregarSpinners()";>Voltar</a>
    </div>
  </div>
</body>